# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
sloeber.ino.cpp
Firmware/Button/.*
Firmware/Button/Release
Firmware/Panel/.*
Firmware/Panel/Release
Firmware/RemoteSystemsTempFiles/*
Firmware/MotorControl/.*
Firmware/MotorControl/Release
Documents/~$canID.xlsx
Firmware/hallSensor/.*
Firmware/hallSensor/Release
/.metadata/
RemoteSystemsTempFiles/*
Firmware/test/
*.PcbDocPreview
