# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Firmware/Button/.*
Firmware/Button/Release
Firmware/Button/sloeber.ino.cpp
Firmware/Panel/.*
Firmware/Panel/Release
Firmware/RemoteSystemsTempFiles/.project
Firmware/Panel/sloeber.ino.cpp
